<table>
  <tbody>
    <tr>
      <td>
        <app-map-upload></app-map-upload>
      </td>
    </tr>
    <tr>
      <td class="cellTop">
        <mat-selection-list
          #mapsList
          [multiple]="false"
          (selectionChange)="
            onMapSelected(mapsList.selectedOptions.selected[0]?.value)
          "
        >
          <mat-list-option
            *ngFor="let map of maps"
            [value]="map"
            class="mapNameItem"
          >
            <div>
              <span>{{ map }}</span>
              <mat-icon
                *ngIf="isMissionMap(map)"
                aria-hidden="false"
                aria-label="mission map"
                class="goldColor"
                >star</mat-icon
              >
            </div>
          </mat-list-option>
        </mat-selection-list>
      </td>
      <td class="imageCell">
        <div style="position: absolute; margin-left: 5px;margin-top: 15px;">
          <button
            [disabled]="
              mapsList.selectedOptions.selected[0] == null ||
              mapsList.selectedOptions.selected[0]?.value == missionMapName
            "
            mat-stroked-button
            color="primary"
            (click)="setMissionMap(mapsList.selectedOptions.selected[0]?.value)"
          >
            Set mission map
          </button>
        </div>
        <app-map-view mapName="{{ selectedMap }}"></app-map-view>
      </td>
    </tr>
  </tbody>
</table>
