<table>
  <tbody>
    <tr>
      <td class="cellTop">
        <mat-selection-list #mapsList [multiple]="false">
          <mat-list-option
            *ngFor="let map of maps"
            [value]="map"
            class="mapNameItem"
            (selectedChange)="onMapSelected(map)"
          >
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="bullet"></div>
                  </td>
                  <td>{{ map }}</td>
                </tr>
              </tbody>
            </table>
          </mat-list-option>
        </mat-selection-list>
      </td>
      <td class="imageCell" *ngIf="imageIsVisible">
        <img [src]="imagePath" class="imageItem" />
        <div>
          <button
            mat-stroked-button
            color="primary"
            (click)="setMissionMap(mapsList.selectedOptions.selected[0]?.value)"
          >
            Set mission map [{{ mapsList.selectedOptions.selected[0]?.value }}]
          </button>
        </div>
        <div class="remark">
          {{missionMapUpdateStatus}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
