<table>
  <tbody>
    <tr>
      <td class="cellTop">
        <mat-selection-list #mapsList [multiple]="false">
          <mat-list-option
            *ngFor="let map of maps"
            [value]="map"
            class="mapNameItem"
            (selectedChange)="onMapSelected(map)"
          >
            {{ map }}
          </mat-list-option>
        </mat-selection-list>
      </td>
      <td class="imageCell" *ngIf="imageIsVisible">
        <img [src]="imagePath" class="imageItem" />
        <div>
          <button
            mat-stroked-button
            color="primary"
            (click)="setMissionMap(mapsList.selectedOptions.selected[0]?.value)"
          >
            Set mission map
          </button>
        </div>
        <div>
          {{ missionMapUpdateStatus }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
